.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 5px; 
    border-top: 1px solid var(--border-silver);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    color: var(--text-muted);
    background-color: var(--smoke-grey);
    text-align: center; 
    font-size: 13px; 
    line-height: 1.25rem; 
    margin-top: 40px; 
    position: relative; 
  }

  